<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
		<key>HaltEnabler</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>SlpSmiAtWake</key>
			<false/>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EHC1 to EH01 (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EHC2 to EH02 (USB)</string>
				</dict>
			</array>
			<key>SuspendOverride</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FakeLPC</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 nvda_drv=1 kext-dev-mode=1</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>macOS</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>High Sierra</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>BOOTX64.EFI</string>
			<string>Windows</string>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>15</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0d220003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Second stage patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>iMac14,1</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>